<!doctype html>
<html layout:decorate = "~{usr/common/layout}" >
<head >
	<title >Home</title >
</head >
<body >

<div layout:fragment = "content" class = "flex-1 flex items-center justify-center" >
	<div class = "fullpage" >
		<!-- main free article fullPage-1-->
		<div class = "pageFull relative flex flex-col w-full min-w-0 mb-0 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border" >
			<div class = "h-full" >
				<div class = "p-6 pb-0 mb-0 bg-white rounded-t-2xl" >
					<h6 >📖 자유 게시판</h6 >
				</div >
				<div class = "flex-auto px-0 pt-0 pb-2" >
					<div class = "p-0 overflow-x-auto" >
						<table class = "items-center w-full mb-0 align-top border-gray-200 text-slate-500" >
							<thead class = "align-bottom" >
							<tr >
								<th class = "px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70" >
									작성자
								</th >
								<th class = "px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70" >
									제목
								</th >
								<th class = "px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70" >
									작성날짜
								</th >
								<th class = "px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70" >
									좋아요 1
								</th >
								<th class = "px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70" >
									싫어요 1
								</th >
								<th class = "px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-gray-200 border-solid shadow-none tracking-none whitespace-nowrap text-slate-400 opacity-70" >
									조회수 1
								</th >
							</tr >
							</thead >
							<tbody >
							<tr >
								<td class = "p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent" >
									<div class = "flex px-2 py-1" >
										<div >
											<img src = "../assets/img/team-2.jpg"
												 class = "inline-flex items-center justify-center mr-4 text-white transition-all duration-200 ease-soft-in-out text-sm h-9 w-9 rounded-xl"
												 alt = "user1" />
										</div >
										<div class = "flex flex-col justify-center" >
											<h6 class = "mb-0 leading-normal text-sm" >John Michael</h6 >
											<p class = "mb-0 leading-tight text-xs text-slate-400" >
												john@creative-tim.com</p >
										</div >
									</div >
								</td >
								<td class = "p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent" >
									<p class = "mb-0 font-semibold leading-tight text-xs" >Manager</p >
									<p class = "mb-0 leading-tight text-xs text-slate-400" >Organization</p >
								</td >
								<td class = "p-2 leading-normal text-center align-middle bg-transparent border-b text-sm whitespace-nowrap shadow-transparent" >
									<span class = "bg-gradient-to-tl from-green-600 to-lime-400 px-3.6 text-xs rounded-1.8 py-2.2 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white" >Online</span >
								</td >
								<td class = "p-2 text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent" >
									<span class = "font-semibold leading-tight text-xs text-slate-400" >23/04/18</span >
								</td >
								<td class = "p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent" >
									<a href = "javascript:;"
									   class = "font-semibold leading-tight text-xs text-slate-400" >
										Edit </a >
								</td >
							</tr >
							</tbody >
						</table >
					</div >
				</div >
			</div >
		</div >

		<!-- main noticle article fullPage-2-->
		<div class = "pageFull relative flex flex-col w-full min-w-0 mb-0 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border" >
			<div class = "h-full" >
				<div class = "p-6 pb-0 mb-0 bg-white rounded-t-2xl" >
					<h6 >📖 공지 게시판</h6 >
				</div >
				<div class = "flex-auto px-0 pt-0 pb-2" >
					<div class = "p-0 overflow-x-auto" >
						<table class = "items-center w-full mb-0 align-top border-gray-200 text-slate-500" >
							<thead class = "align-bottom" >
							<tr >
								<th class = "px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70" >
									작성자
								</th >
								<th class = "px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70" >
									제목
								</th >
								<th class = "px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70" >
									작성날짜
								</th >
								<th class = "px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70" >
									좋아요 1
								</th >
								<th class = "px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70" >
									싫어요 1
								</th >
								<th class = "px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-gray-200 border-solid shadow-none tracking-none whitespace-nowrap text-slate-400 opacity-70" >
									조회수 1
								</th >
							</tr >
							</thead >
							<tbody >
							<tr >
								<td class = "p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent" >
									<div class = "flex px-2 py-1" >
										<div >
											<img src = "../assets/img/team-2.jpg"
												 class = "inline-flex items-center justify-center mr-4 text-white transition-all duration-200 ease-soft-in-out text-sm h-9 w-9 rounded-xl"
												 alt = "user1" />
										</div >
										<div class = "flex flex-col justify-center" >
											<h6 class = "mb-0 leading-normal text-sm" >John Michael</h6 >
											<p class = "mb-0 leading-tight text-xs text-slate-400" >
												john@creative-tim.com</p >
										</div >
									</div >
								</td >
								<td class = "p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent" >
									<p class = "mb-0 font-semibold leading-tight text-xs" >Manager</p >
									<p class = "mb-0 leading-tight text-xs text-slate-400" >Organization</p >
								</td >
								<td class = "p-2 leading-normal text-center align-middle bg-transparent border-b text-sm whitespace-nowrap shadow-transparent" >
									<span class = "bg-gradient-to-tl from-green-600 to-lime-400 px-3.6 text-xs rounded-1.8 py-2.2 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white" >Online</span >
								</td >
								<td class = "p-2 text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent" >
									<span class = "font-semibold leading-tight text-xs text-slate-400" >23/04/18</span >
								</td >
								<td class = "p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent" >
									<a href = "javascript:;"
									   class = "font-semibold leading-tight text-xs text-slate-400" >
										Edit </a >
								</td >
							</tr >
							</tbody >
						</table >
					</div >
				</div >
			</div >
		</div >

		<!-- footer fullPage-3-->
		<footer class = "pageFull fp-auto-height footer footer-center p-10 bg-base-200 text-base-content rounded" >
			<div class = "h-60" >
				<nav class = "grid grid-flow-col gap-4" >
					<a class = "link link-hover" >About us</a >
					<a class = "link link-hover" >Contact</a >
					<a class = "link link-hover" >Jobs</a >
					<a class = "link link-hover" >Press kit</a >
				</nav >
				<nav >
					<div class = "grid grid-flow-col gap-4" >
						<a >
							<svg xmlns = "http://www.w3.org/2000/svg" width = "24" height = "24" viewBox = "0 0 24 24"
								 class = "fill-current" >
								<path d = "M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z" ></path >
							</svg >
						</a >
						<a >
							<svg xmlns = "http://www.w3.org/2000/svg" width = "24" height = "24" viewBox = "0 0 24 24"
								 class = "fill-current" >
								<path d = "M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z" ></path >
							</svg >
						</a >
						<a >
							<svg xmlns = "http://www.w3.org/2000/svg" width = "24" height = "24" viewBox = "0 0 24 24"
								 class = "fill-current" >
								<path d = "M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" ></path >
							</svg >
						</a >
					</div >
				</nav >
				<aside >
					<p >Copyright © 2024 - All right reserved by ACME Industries Ltd</p >
				</aside >
			</div >
		</footer >

		<!--main fullPage end -->
	</div >
	<script >
		$(document).ready(function () {
		  $(".fullpage").fullpage({
			navigation: false, // 섹션을 탐색하기 위한 사이드바 메뉴의 표시 여부를 결정합니다.
			slidesNavigation: false, // 슬라이드 내 네비게이션(점)의 표시 여부를 결정합니다.
			css3: true, // CSS3 트랜지션을 사용하여 스크롤링 효과를 구현할지 결정합니다.
			scrollingSpeed: 1000, // 스크롤링 속도를 밀리초 단위로 지정합니다.
			fitToSection: true, // 사용자가 스크롤을 멈추면 가장 가까운 섹션으로 자동 스크롤할지 결정합니다.
			fitToSectionDelay: 600, // fitToSection이 활성화된 경우, 스크롤링 후 다음 섹션으로 자동 스크롤되기 전의 지연 시간을 밀리초 단위로 지정합니다.
			loopBottom: true, // 마지막 섹션에서 스크롤 다운할 때 첫 번째 섹션으로 이동할지 결정합니다.
			loopTop: true, // 첫 번째 섹션에서 스크롤 업할 때 마지막 섹션으로 이동할지 결정합니다.
			dragAndMove: true, // 마우스 드래그로 페이지를 스크롤할 수 있게 할지 결정합니다.
			keyboardScrolling: true, // 키보드로 스크롤할 수 있는지 결정합니다.

			responsiveSlides: false, // 반응형 슬라이드를 활성화할지 결정합니다.
			sectionSelector: ".pageFull" // 섹션으로 사용될 요소의 선택자를 지정합니다.
		  });
		});

	</script >
</div >
</body >
</html >