<!doctype html>
<html lang = "ko" xmlns:th = "http://www.thymeleaf.org" xmlns:layout = "http://www.w3.org/1999/xhtml" >
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title layout:title-pattern = "$CONTENT_TITLE | $LAYOUT_TITLE" th:text = "Heal_Mingle" ></title >

	<!-- 제이쿼리 불러오기 -->
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" ></script >
	<!-- Lodash는 _ 객체를 통해 함수형 프로그래밍을 지원하는 메서드를 제공-->
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" ></script >

	<!-- toastr 불러오기 -->
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" ></script >
	<link rel = "stylesheet" href = "https://jhs512.github.io/toastr/toastr.css" >

	<!-- 폰트어썸 아이콘 -->
	<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" >

	<!-- 글꼴 -->
	<link href = "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel = "stylesheet" />

	<!--  풀페이지 css, js -->
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.js"
			integrity = "sha512-HqbDsHIJoZ36Csd7NMupWFxC7e7aX2qm213sX+hirN+yEx/eUNlZrTWPs1dUQDEW4fMVkerv1PfMohR1WdFFJQ=="
			crossorigin = "anonymous" ></script >
	<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.css"
		  integrity = "sha512-hGBKkjAVJUXoImyDezOKpzuY4LS1eTvJ4HTC/pbxn47x5zNzGA1vi3vFQhhOehWLTNHdn+2Yqh/IRNPw/8JF/A=="
		  crossorigin = "anonymous" />


	<!-- 버튼, 글꼴 스타일 -->
	<style >
		@font-face {
			font-family: 'GmarketSansMedium';
			src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
			font-weight: normal;
			font-style: normal;
		}

		html > body {
			font-family: "GmarketSansMedium";
			text-underline-position: under;
		}

		  button {
		  margin: 20px;
		  outline: none;
		}
		.custom-btn {
		  height: 40px;
		  padding: 10px 25px;
		  border: 2px solid #000;
		  background: transparent;
		  cursor: pointer;
		  transition: all 0.3s ease;
		  position: relative;
		  display: inline-block;
		}

		/* 5 */
		.btn-5 {
		  line-height: 42px;
		  padding: 0;
		  border: none;
		}
		.btn-5:hover {
		  background: transparent;
		  color: #000;
		  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
			7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
		}
		.btn-5:before,
		.btn-5:after {
		  content: "";
		  position: absolute;
		  top: 0;
		  right: 0;
		  height: 2px;
		  width: 0;
		  background: #000;
		  transition: 400ms ease all;
		}
		.btn-5:after {
		  right: inherit;
		  top: inherit;
		  left: 0;
		  bottom: 0;
		}
		.btn-5:hover:before,
		.btn-5:hover:after {
		  width: 100%;
		  transition: 800ms ease all;
		}

	</style >
</head >

<!-- 테일윈드 , 데이지 UI-->
<link href = "https://cdn.jsdelivr.net/npm/daisyui@3.7.7/dist/full.css" rel = "stylesheet" type = "text/css" />
<script src = "https://cdn.tailwindcss.com" ></script >

<script src = "/resource/common/common.js" ></script >

<body >

<div class="flex flex-col">
	<header >
		<!-- navbar -->
		<div class = "navbar shadow-md shadow-inner flex justify-between" >
			<!--  logo  -->
			<div class = "p-3 h-8" >
				<a href = "/" >
					<img src = "/resource/logoImg/NoColorLogo.png" class = "object-cover w-full h-full" alt = "로고" >
				</a >
			</div >
			<!--  menu  -->
			<div class = "flex justify-evenly w-full text-lg" >
				<div >
					<a href = "#" >자유 게시판</a >
				</div >
				<div >
					<a href = "#" >공지사항</a >
				</div >
			</div >
			<!--  profile img/ search input  -->
			<div class = "p-3" >
				<div class = "flex items-center md:ml-auto md:pr-4" >
					<div class = "relative flex flex-wrap items-stretch w-full transition-all rounded-lg ease-soft" >
						<input type = "text"
							   class = "pl-3 text-sm focus:outline-slate-500 placeholder:text-slate-500 ease-soft w-1/100 leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid  bg-clip-padding py-2 pr-3 transition-all focus:outline-none focus:transition-shadow"
							   placeholder = "🔍     궁금을 검색하세요" />
					</div >
				</div >
				<div class = "dropdown dropdown-end" >
					<div tabindex = "0" class = "btn btn-ghost btn-circle avatar" >
						<!-- 프로필 이미지 -->
						<div class = "w-10 rounded-full" >
							<img alt = "Tailwind CSS Navbar component"
								 src = "https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
						</div >
					</div >
					<!-- 메뉴 -->
					<ul tabindex = "0"
						class = "menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52" >
						<li th:if="${@rq.logout}"><a href = "/usr/member/join" ><i
								class = "fa-solid fa-user-plus" ></i > 회원가입</a ></li >
						<li th:if="${@rq.logout}"><a href = "/usr/member/login" ><i
								class = "fa-solid fa-arrow-right-to-bracket" ></i > 로그인</a ></li >
						<li th:if="${@rq.admin}"><a ><i class = "fa-solid fa-user-secret" ></i >관리자</a ></li >
						<li th:if="${@rq.login}"><a ><i class = "fa-solid fa-user" ></i >내 정보</a ></li >
						<li th:if="${@rq.login}"><a href = "/usr/member/logout" ><i
								class = "fa-solid fa-arrow-right-from-bracket" ></i >로그아웃</a ></li >
					</ul >
				</div >
			</div >
		</div >
	</header >
	<!-- fragment -->
	<main class = "mb-3" >
		<th:block layout:fragment = "content" ></th:block >
	</main >
</div >

<script >
	// URL에서 msg 파라미터의 값을 가져오는 함수
    function getMsgFromURL() {
        const url = new URL(window.location.href);
        return url.searchParams.get('msg');
    }

    function getFailMsgFromURL() {
        const url = new URL(window.location.href);
        return url.searchParams.get('failMsg');
    }

    const msg = getMsgFromURL();

    // msg 파라미터의 값이 있으면 toastr로 알림을 표시
    if (msg) {
        toastNotice(decodeURIComponent(msg));
    }

    const failMsg = getFailMsgFromURL();

    // msg 파라미터의 값이 있으면 toastr로 알림을 표시
    if (failMsg) {
        toastWarning(decodeURIComponent(failMsg));
    }

	// historyBack 으로 인해 돌아온 경우 실행
	// 페이지가 표시될 때마다 특정 조건 하에 로컬 스토리지에서 오류 메시지를 검색하여 화면에 표시하고, 해당 메시지를
	// 로컬 스토리지에서 제거하는 기능을 수행
	// 페이지가 새로 로드되거나 캐시에서 복원될 때 실행되는 이벤트 핸들러를 바인드합니다.
	$(window).bind("pageshow", function (event){
	  // 현재 페이지의 URL을 사용하여 로컬 스토리지 키를 생성합니다.
	  let localStorageKeyAboutHistoryBackFailMsg = "historyBackFailMsg___" + location.href;

	  // 해당 키에 대한 항목이 로컬 스토리지에 없는 경우, 'null'을 사용하여 기본 키를 설정합니다.
	  if (!localStorage.getItem(localStorageKeyAboutHistoryBackFailMsg)) {
		localStorageKeyAboutHistoryBackFailMsg = "historyBackFailMsg___null";
	  }

	  // 설정된 키를 사용하여 로컬 스토리지에서 오류 메시지를 검색합니다.
	  const historyBackFailMsg = localStorage.getItem(localStorageKeyAboutHistoryBackFailMsg);
	  // 오류 메시지가 존재하는 경우
	  if (historyBackFailMsg) {
		toastWarning(historyBackFailMsg);
		// 오류 메시지를 화면에 표시합니다(toastr 라이브러리 사용).
		localStorage.removeItem(localStorageKeyAboutHistoryBackFailMsg);
		// 메시지를 표시한 후 해당 항목을 로컬 스토리지에서 제거합니다.
	  }
	});
</script >

</body >
</html >